# Dependencies
/node_modules
/vendor

# Environment
.env
.env.backup
.env.production

# Laravel
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/auth.json
Homestead.json
Homestead.yaml

# Logs
*.log

# IDE / Editor
/.codex
/.cursor/
/.idea
/.nova
/.vscode
/.zed
.phpactor.json

# Testing
/.phpunit.cache
.phpunit.result.cache
_ide_helper.php

# OS
.DS_Store
Thumbs.db

# Vagrant
/.vagrant
